rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orders/{orderId} {
      allow read: if true;
      allow create, update, delete: if true;
    }
    match /customers/{customerId} {
      allow read, write: if true;
    }
    match /settings/{settingId} {
      allow read: if true;
      allow write: if true;
    }
    match /transactions/{transactionId} {
      allow read, write: if true;
    }
  }
}
